@import 'tailwindcss';


*{
    transition: all 0.2s;
}

body{
    transition: none;
    background-color: rgb(1, 1, 49);
    color: white;
}
nav a:hover{
    color:white;
    transform: translateY(-2px);
}
a.active{
    font-weight: bold;
    color:white;
    border-bottom: 2px solid;
}